<div class="bg-primary-lighter width-full padding-2 tablet:padding-6 border-primary border-05 usa-prose radius-lg">
    <h2 class="margin-top-0">Also included…</h2>
    <div class="grid-row grid-gap">
        <div class="grid-col">
            <ul class="usa-icon-list padding-top-2">
                <li class="usa-icon-list__item">
                  <div class="usa-icon-list__icon text-primary-dark">
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#wifi"></use>
                    </svg>
                  </div>
                  <div class="usa-icon-list__content">
                    Boosted Wi-Fi
                  </div>
                </li>
                <li class="usa-icon-list__item">
                  <div class="usa-icon-list__icon text-primary-dark">
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#hotel"></use>
                    </svg>
                  </div>
                  <div class="usa-icon-list__content">Preferred hotel partners</div>
                </li>
                </ul>
        </div>
        <div class="grid-col usa-prose">
            <ul class="usa-icon-list padding-top-2">
            <li class="usa-icon-list__item">
                <div class="usa-icon-list__icon text-primary-dark">
                  <svg class="usa-icon" aria-hidden="true" role="img">
                    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#restaurant"></use>
                  </svg>
                </div>
                <div class="usa-icon-list__content">Onboard food discounts</div>
              </li>
              <li class="usa-icon-list__item">
                  <div class="usa-icon-list__icon text-primary-dark">
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#lock_open"></use>
                    </svg>
                  </div>
                  <div class="usa-icon-list__content">Special workspace car access</div>
                </li>
            </ul>
        </div>
    </div>
    
        
</div>
